//Variables 

//colors

$darkBlue : #1B1D23;
$darkGrey : #60636D;
$mediumGrey: #7D828F;
$lightGrey: #C8CCD8;
$verylightGrey:#EEEFF4 ;
$red: #DF5656;


// Font 

$font:'Spartan';
$fontReg: 400;
$fontBold:700;

