//Variables

//colors

$darkBlue: #1b1d23;
$darkGrey: #60636d;
$mediumGrey: #7d828f;
$lightGrey: #c8ccd8;
$verylightGrey: #eeeff4;
$red: #df5656;

// Font

$font: 'Spartan';
$fontReg: 400;
$fontBold: 700;
