@use './base.scss';

.welcomeSection {
  margin-top: 30vh;

  .welcomeImage {
    z-index: -100;
  }

  h1 {
    color: base.$verylightGrey;
    font-size: 200px;
    font-weight: 700;
    position: absolute;
    top: 950px;
  }

  h2 {
    color: base.$darkBlue;
    font-size: 56px;
    font-weight: 700;
    padding-right: 10px;
    margin-bottom: 50px;
  }
  p {
    line-height: 25px;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    color: base.$darkGrey;
  }
}
.welcomeWraper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.welcomeContent {
  max-width: 450px;
  min-width: 400px;
  margin-left: 15%;
}

.buttonSmall {
  width: 130px;
  padding: 25px;
  background-color: base.$darkBlue;
  font-size: 18px;
  color: base.$mediumGrey;
  font-weight: base.$fontBold;
  text-decoration: none;
  margin-top: 10px;
  height: 25px;
  color: white;
}

.smallContent {
  position: relative;
  top: 450px;
  left: 10%;
  z-index: 100;

  h2 {
    color: white;
    font-size: 56px;
    font-weight: 700;
    padding-right: 10px;
    margin-bottom: 50px;
    line-height: 0.5;
  }

  img {
    opacity: 0.5;
  }
}

.smallImage {
  background-color: black;
  opacity: 0.8;
}

.featuredContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15vh;

  h2 {
    color: base.$darkBlue;
    font-size: 56px;
    font-weight: 700;
    padding-right: 10px;
  }
}
.buttonFeatured {
  width: 130px;
  padding: 25px;
  background-color: base.$darkBlue;
  font-size: 18px;
  color: base.$mediumGrey;
  font-weight: base.$fontBold;
  text-decoration: none;
  margin-top: 10px;
  height: 25px;
  color: white;
}
.portImg {
  display: inline-block;
}
