@use './base.scss';

.sliderContainer {
  position: relative;

  .slideSelector {
    position: absolute;
    display: flex;
    bottom: 0;
    left: -90px;
  }
  .slideImage {
    width: 90px;
    height: 90px;
    background-color: white;
    display: flex;
    color: grey;

    z-index: 10;
    justify-content: center;
    align-items: center;
    h2 {
      font-weight: 800;
    }
    &:hover {
      background-color: grey;
      color: white;
    }
  }
}

.welcomeSection {
  margin-top: 30vh;

  .welcomeImage {
    z-index: -100;
    min-width: 370px;
  }

  h1 {
    color: base.$verylightGrey;
    font-size: 200px;
    font-weight: 800;
    max-width: 90%;
    position: absolute;
    top: -40%;
    left: -10%;
    z-index: 15;
  }

  h2 {
    color: base.$darkBlue;
    font-size: 56px;
    font-weight: 700;
    padding-right: 10px;
    margin-bottom: 50px;
  }
  p {
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    color: base.$darkGrey;
  }
}
.welcomeWraper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.welcomeContent {
  max-width: 40%;
  min-width: 25%;
  margin-left: 10%;
  position: relative;
}

.buttonSmall {
  width: 130px;
  padding: 25px;
  background-color: base.$darkBlue;
  font-size: 18px;
  color: base.$mediumGrey;
  font-weight: base.$fontBold;
  text-decoration: none;
  margin-top: 10px;
  height: 25px;
  color: white;
}

.smallContent {
  position: relative;
  top: 450px;
  left: 10%;
  z-index: 100;

  h2 {
    color: white;
    font-size: 56px;
    font-weight: 700;
    padding-right: 10px;
    margin-bottom: 50px;
    line-height: 0.5;
  }

  img {
    opacity: 0.5;
  }
}

.smallImage {
  background-color: black;
  opacity: 0.8;
}

.featuredContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15vh;

  h2 {
    color: base.$darkBlue;
    font-size: 56px;
    font-weight: 700;
    padding-right: 10px;
  }
}
.buttonFeatured {
  width: 130px;
  padding: 25px;
  background-color: base.$darkBlue;
  font-size: 18px;
  color: base.$mediumGrey;
  font-weight: base.$fontBold;
  text-decoration: none;
  margin-top: 10px;
  height: 25px;
  color: white;
}
.portWraper {
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8%;
  .imageDiv {
    margin: 25px;
  }

  h3 {
    top: 75%;
    font-size: 1.5rem;

    color: white;
    position: relative;
    z-index: 10;
    -webkit-text-stroke: 0.5px grey;
  }

  p {
    top: 80%;
    line-height: 1.5;
    color: white;
    position: relative;
    z-index: 10;
    -webkit-text-stroke: 0.5px darkgray;
  }
}

.portImage {
  z-index: 5;
  display: inline-block;
  height: 600px;
}

.aboutHero {
  position: relative;
  .aboutHeroContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 0;
    right: 200px;
    background-color: white;
    width: 45%;
    min-height: 380px;
    height: 45%;
    padding: 5%;
  }

  img {
    position: absolute;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: base.$verylightGrey;
    font-size: 150px;
    font-weight: 800;
    max-width: 80%;
    position: absolute;
    top: 22%;
    left: 35%;

    z-index: 15;
  }

  h2 {
    color: base.$darkBlue;
    font-size: 38px;
    font-weight: 700;

    margin-bottom: 50px;
    max-width: 70%;
  }
  p {
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    color: base.$darkGrey;
    max-width: 70%;
  }
}

.heritageWraper {
  display: flex;
  justify-content: space-around;
  margin: 20% 0;
  .heritagecontent {
    width: 30%;
    h2 {
      color: base.$darkBlue;
      font-size: 38px;
      font-weight: 700;

      margin-bottom: 50px;
    }
    p {
      line-height: 1.5;

      font-size: 17px;
      font-weight: 400;
      padding-bottom: 20px;
      color: base.$darkGrey;
      max-width: 100%;
    }
  }
}
.leadersSection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;

  h2 {
    color: base.$darkBlue;
    font-size: 38px;
    font-weight: 700;
    max-width: 110px;
  }

  .leadersWraper {
    width: 70%;

    .leaderItem {
      width: 250px;
      display: inline-block;
      margin: 0 2%;
      h4 {
        padding-top: 20px;
      }
      p {
        line-height: 1.5;

        font-size: 15px;
        font-weight: 400;
        padding-bottom: 20px;
        color: base.$darkGrey;
        max-width: 100%;
      }
    }
  }
}
.contactDetails {
  display: flex;
  justify-content: space-around;
  margin: 15% 0;
  min-width: 30%;
  p {
    line-height: 2;

    font-size: 17px;
    font-weight: 400;
    padding-bottom: 10px;
    color: base.$darkGrey;
    max-width: 100%;
  }
  h2 {
    color: base.$darkBlue;
    font-size: 38px;
    font-weight: 700;
    max-width: 110px;
  }
}
.map {
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}

//media queries

@media only screen and (max-width: 850px) {
  .portItem {
    flex-direction: column;
    p {
      top: 50vh;
      left: 28%;
      color: blanchedalmond;
      position: relative;
    }
  }
  .portImage {
    min-width: 90%;
    z-index: -1;
  }
}
