@use './base.scss';

h1 {
  color: base.$verylightGrey;
  font-size: 150px;
  font-weight: 800;
  max-width: 80%;
  position: absolute;
  top: 22%;
  left: 35%;

  z-index: 15;
}

h2 {
  color: base.$darkBlue;
  font-size: 56px;
  font-weight: 700;

  margin-bottom: 50px;
  max-width: 70%;
}
h3 {
  top: 75%;
  font-size: 1.5rem;

  color: white;
  position: relative;
  z-index: 10;
  -webkit-text-stroke: 0.5px grey;
}
h4 {
  padding-top: 20px;
}
p {
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
  color: base.$darkGrey;
  max-width: 70%;
}

.sliderContainer {
  position: relative;

  .slideSelector {
    position: absolute;
    display: flex;

    bottom: 0;
    left: -90px;
  }
  .slideImage {
    width: 90px;
    height: 90px;
    background-color: white;
    display: flex;
    color: grey;

    z-index: 10;
    justify-content: center;
    align-items: center;
    h2 {
      font-weight: 800;
      font-size: 15px;
      margin-bottom: 0;
    }
    &:hover {
      background-color: grey;
      color: white;
    }
  }
  .primera,
  .segunda {
    background-color: black;
  }
}

.welcomeSection {
  margin-top: 30vh;

  .welcomeImage {
    z-index: -100;
    min-width: 370px;
  }

  h1 {
    font-size: 200px;

    position: absolute;
    top: -40%;
    left: -10%;
  }

  h2 {
    padding-right: 10px;
  }
}
.welcomeWraper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.welcomeContent {
  max-width: 40%;
  min-width: 25%;
  margin-left: 10%;
  position: relative;
}

.buttonSmall {
  width: 130px;
  padding: 25px;
  background-color: base.$darkBlue;
  font-size: 18px;
  color: base.$mediumGrey;
  font-weight: base.$fontBold;
  text-decoration: none;
  margin-top: 10px;
  height: 25px;
  color: white;
}

.smallContent {
  position: relative;
  top: 450px;
  left: 10%;
  z-index: 100;

  h2 {
    color: white;
    padding-right: 10px;
    margin-bottom: 50px;
    line-height: 0.5;
  }

  img {
    opacity: 0.5;
  }
}

.smallImage {
  background-color: black;
  opacity: 0.8;
}

.featuredContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 15vh;

  h2 {
    font-weight: 700;
    padding-right: 10px;
  }
}
.buttonFeatured {
  width: 130px;
  padding: 25px;
  background-color: base.$darkBlue;
  font-size: 18px;
  color: base.$mediumGrey;
  font-weight: base.$fontBold;
  text-decoration: none;
  margin-top: 10px;
  height: 25px;
  color: white;
}
.portWraper {
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8%;
  .imageDiv {
    margin: 25px;
  }

  h3 {
    top: 75%;
    font-size: 1.5rem;

    color: white;
    position: relative;
    z-index: 10;
    -webkit-text-stroke: 0.5px grey;
  }

  p {
    top: 80%;
    color: white;
    position: relative;
    z-index: 10;
    -webkit-text-stroke: 0.5px darkgray;
    max-width: 100;
  }
}

.portImage {
  z-index: 5;
  display: inline-block;
  height: 600px;
}

.aboutHero {
  position: relative;
  .aboutHeroContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 0;
    right: 200px;
    background-color: white;
    width: 45%;
    min-height: 380px;
    height: 45%;
    padding: 5%;
  }

  img {
    position: absolute;
    margin: 0;
    padding: 0;
  }
}

.heritageWraper {
  display: flex;
  justify-content: space-around;
  margin: 20% 0;
  .heritagecontent {
    width: 30%;
    h2 {
      margin-bottom: 50px;
    }
    p {
      max-width: 100%;
    }
  }
}
.leadersSection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;

  h2 {
    max-width: 110px;
  }

  .leadersWraper {
    width: 70%;

    .leaderItem {
      width: 350px;
      display: inline-block;
      margin: 0 2%;

      p {
        max-width: 100%;
      }
    }
  }
}
.contactDetails {
  display: flex;
  justify-content: space-around;
  margin: 15% 0;
  min-width: 30%;
  p {
    line-height: 2;

    padding-bottom: 10px;
    max-width: 100%;
  }
  h2 {
    max-width: 110px;
  }
}
.map {
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}
.contactContainer {
  display: flex;
  justify-content: space-around;
  h2 {
    max-width: 25%;
  }
}
.form {
  min-width: 50vw;
  position: relative;
  margin-bottom: 150px;
  p {
    margin-top: 15px;
    padding-bottom: 0;
  }

  button {
    border: none;
    margin-top: 0;
    position: absolute;
    bottom: -68px;
    right: 28%;
  }
  .buttonFeatured {
    width: 50px;
    padding: 25px;
    background-color: base.$darkBlue;
    font-size: 18px;
    color: base.$mediumGrey;
    font-weight: base.$fontBold;
    text-decoration: none;
    margin-top: 0;
    height: 25px;
    color: white;
    text-align: left;
    justify-self: end;
  }
  input {
    width: 100%;
    height: 25px;
    background: none;
    padding-top: 20px;
    border: none;
    border-bottom: 2px solid grey;
  }
  textarea {
    width: 100%;
    height: 100px;
    background: none;
    padding-top: 20px;
    border: none;
    border-bottom: 2px solid grey;
  }
}

//media queries

@media only screen and (max-width: 850px) {
  p {
    font-size: 15px;
  }

  .portItem {
    p {
      font-size: 15px;
      top: 50vh;
      left: 28%;
      color: blanchedalmond;
      position: relative;
    }
  }
  .portImage {
    min-width: 90%;
    z-index: -1;
  }
}
