@use '../components/styles/base.scss';

footer {
  display: flex;

  .footerLogoContainer {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    min-width: 15%;
  }
}

.footerLinksCont {
  background-color: base.$verylightGrey;
  width: 70%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;

  ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 60%;

    .link {
      font-size: 18px;
      color: base.$mediumGrey;
      font-weight: base.$fontBold;
      text-decoration: none;
      margin-top: 10px;
      height: 25px;
    }
  }
  .buttonFooter {
    position: relative;
    left: 125px;
    padding: 25px;
    background-color: base.$darkBlue;
    font-size: 18px;
    color: base.$mediumGrey;
    font-weight: base.$fontBold;
    text-decoration: none;
    margin-top: 10px;
    height: 25px;
    color: white;
  }
}
@media only screen and(max-width: 850px) {
  .footerLinksCont {
    background-color: base.$verylightGrey;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;

    ul {
      display: none;
    }
    .buttonFooter {
      left: 105px;
      padding: 25px;
      background-color: base.$darkBlue;
      font-size: 14px;
      color: base.$mediumGrey;
      font-weight: base.$fontBold;
      text-decoration: none;
      margin-top: 10px;
      height: 25px;
      color: white;
    }
  }
}
