@use './styles/base.scss';

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 150px;
  margin-left: 2%;
}
nav {
  .MobileNavigation {
    display: none;
  }
  ul {
    display: flex;
    justify-content: space-between;
    min-width: 33vw;
    padding-left: 10vw;

    .link {
      font-size: 18px;
      color: base.$mediumGrey;
      font-weight: base.$fontBold;
      text-decoration: none;
      margin-top: 10px;
      height: 25px;
    }
  }
}
@media (max-width: 850px) {
  nav {
    .Navigation {
      display: none;
    }
    .MobileNavigation {
      display: flex;

      align-items: center;
    }
    .burguer {
      position: absolute;
      right: 5%;
      cursor: pointer;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      height: 330px;
      width: 65%;
      right: 18%;
      top: 18%;
      background-color: grey;
      z-index: 25;
      opacity: 0.9;
      border-radius: 8px;
      .link {
        color: white;
      }
    }
  }
}
