* {
  font-family: 'Spartan';
}

.main {
  margin: 2vh auto;
  max-width: 78vw;

  display: flex;
  flex-direction: column;
  min-height: 96vh;
}

.mainContent {
  flex-grow: 1;
}

@media only screen and(max-width: 1350px) {
  .main {
    overflow: hidden;
    margin: 25px 0;
    max-width: 100vw;
    display: block;
  }
}
